html {
    scroll-behavior: smooth;
}

header {
    padding: 250px 0 165px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
            rgba(0, 0, 0, 0.5)), url("../img/Capture.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 0px;
}

header h1 {
    font-size: 50px;
}

.section-popular {
    min-height: 540px;
    background-color: #fff;
    margin-top: -83px;
    margin-bottom: -230px;
}

.section-search {
    background-color: #fff;
}

.section-popular h5 {
    margin-top: 100px;
    padding: 10px;
}

.section-popular .btn {
    margin-top: -53px;
}

.section-popular .card {
    margin-bottom: 15px;
}

.section-search .card {
    margin-bottom: 15px;
}

.section-popular a {
    color: black;
    text-decoration: none;
}

.section-search a {
    color: black;
    text-decoration: none;
}

.section-popular a:hover {
    text-decoration: none;
    color: black;
}

.section-search a:hover {
    text-decoration: none;
    color: black;
}

.popular-detail img {
    Width: 100%;
    object-fit: cover;
    transition: filter .3s ease;
}

.popular-search img {
    Width: 100%;
    object-fit: cover;
    transition: filter .3s ease;
}

.popular-detail img:hover {
    filter: brightness(60%);
}

.popular-search img:hover {
    filter: brightness(60%);
}


.search-box {
    background: #4d4dff;
    position: relative;
    padding: 15px;
    border-radius: 50px;
    display: flex;
}

.search-box .search-btn {
    width: 50px;
    height: 50px;
    margin-right: 15px;
    border-radius: 50%;
    background: #6666ff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    cursor: pointer;
}

.search-box .input-search {
    outline: none;
    border: 0;
    background: #6666ff;
    border-radius: 50px;
    padding: 15px 20px;
    width: 300px;
    height: 50px;
    color: #fff;
}

::placeholder {
    color: #fff;
}

input:focus::placeholder {
    color: transparent;
}


/*======================================== Detail Page ===================================*/

/* navbar */
.navbar-brand {
    font-family: viga;
    font-size: 32px;
}

/*Jumbotron/
.jumbotron{
    background-image: url(img/foto3.jpg);
    background-size: cover;
    height: 400px;
    
}

.jumbotron .display-4{
    color: white;
    text-align: center;
    margin-top: 170px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 2);
    font-size: 40px;
}


/* panel */
.info-panel {
    background-color: white;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    margin-top: -80px;
}

.container .row {
    margin-top: 25px;
}

.row .col {
    margin-bottom: 30px;
}

#About .col::after {
    content: '';
    background: black;
    display: block;
    height: 3px;
    width: 120px;
    margin: 10px auto 5px;
}

/* galeri */
.container .teks-galeri {
    margin-top: 30px;
}

.container .teks-galeri::after {
    content: '';
    background: black;
    display: block;
    height: 3px;
    width: 110px;
    margin: 10px auto 5px;
}

/* testimoni */
.testimoni {
    margin: 30px auto;
}

.testimoni h2 {
    text-align: center;
    padding-bottom: 10px;
    text-transform: uppercase;

}

.testimoni h2::after {
    content: '';
    background: black;
    display: block;
    height: 3px;
    width: 170px;
    margin: 10px auto 5px;
}

.testimoni .row {
    margin-top: 30px;
}

.testimoni .col-md-4 {
    margin: 40px auto;
}

.testimoni .profile {
    padding: 70px 10px 10px;
    border-radius: 8%;
    background-color: #efefef;
}

.testimoni .profile img {
    top: -60px;
    position: absolute;
    left: calc(50% - 15%);
    border: 10px solid white;
}

.testimoni .user {
    width: 120px;
    height: 120px;
    border-radius: 50%;
}


/* komentar */

#komen .container {
    margin-top: 10%;
}

#komen .img-teks {
    width: 100%;
    height: 300px;
    display: block;
    text-align: center;
    padding: 40% 5%;
    background: #262626;
    color: white;
    border-radius: 12px;
}

#komen .img-teks h2 {
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

#komen .img-teks p {
    font-size: 14px;
    text-align: center;
}

#komen .single-box {
    position: relative;
    margin-bottom: 20px;
}

.carousel-indicators {
    left: 0;
    top: auto;
    bottom: -70px;

}

.carousel-indicators li {
    background: #000;
    border-radius: 50%;
    width: 35px;
    height: 15px;
}

.carousel-indicators .active {
    background: #fff;
}


/* .img-area{
    position: absolute;
    width: 100px;
    height: 100px;
    border: 5px solid white;
    overflow: hidden;
    top: 15px;
    left: 125px;
    border-radius: 50%;
}



/* DESKTOP */
@media(min-width:992px) {

    .navbar-brand,
    .nav-item {
        color: white !important;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 2);
    }

    .nav-item {
        text-transform: uppercase;
        margin-right: 40px;
    }

    .nav-item:hover:after {
        content: '';
        display: block;
        border-bottom: 3px solid blue;
        padding-bottom: 5px;
        margin-bottom: -8px;
    }

    .jumbotron {
        margin-top: -80px;
        height: 700px;
    }

    .jumbotron .display-4 {
        font-size: 62px;

    }

}
